In [55]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegressionCV
credit = pd.read_csv('creditcards.csv')

credit.info()
credit.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    int64
 1   Age             690 non-null    float64
 2   Debt            690 non-null    float64
 3   Married         690 non-null    int64
 4   BankCustomer    690 non-null    int64
 5   Industry        690 non-null    object
 6   Ethnicity       690 non-null    object
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    int64
 9   Employed        690 non-null    int64
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    int64
 12  Citizen         690 non-null    object
 13  ZipCode         690 non-null    int64
 14  Income          690 non-null    int64
 15  Approved        690 non-null    int64
dtypes: float64(3), int64(10), object(3)
memory usage: 86.4+ KB

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1

Selecting Columns that have numeric value so that Gaussian can be run
Also getting training and testing sets

In [56]:
X = credit.copy().drop(columns=['Gender','Approved','Married','BankCustomer','Industry','Ethnicity','PriorDefault','Employed','DriversLicense','Citizen','ZipCode'])
y = credit['Approved'].copy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [57]:
X_train.head()

       Age   Debt  YearsEmployed  CreditScore  Income
161  44.00  2.000           1.75            2      15
181  21.25  2.335           0.50            4       0
236  26.17  0.250           0.00            0       0
428  49.17  2.290           0.29            0       3
159  34.08  0.080           0.04            1    2000

In [58]:
y_train.describe()

count    517.000000
mean       0.441006
std        0.496988
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Approved, dtype: float64

No modification to Gaussian

In [59]:
gnb = GaussianNB()
#priors = (.3,.7)
y_pred = gnb.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d"
% (X_test.shape[0], (y_test != y_pred).sum()))
gnb.fit(X_train, y_train)
print(gnb)
# make predictions
expected = y_test
predicted = gnb.predict(X_test)
# summarize the fit of the model
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))
print(gnb.score(X_test, y_test))

Number of mislabeled points out of a total 173 points : 52
GaussianNB()
              precision    recall  f1-score   support

           0       0.66      0.94      0.77        94
           1       0.85      0.42      0.56        79

    accuracy                           0.70       173
   macro avg       0.75      0.68      0.67       173
weighted avg       0.74      0.70      0.67       173

[[88  6]
 [46 33]]
0.6994219653179191
[0.5589941972920697, 0.4410058027079304]

Adjusting priors on the Gaussian

In [60]:
gnb = GaussianNB(priors = (.5,.5))
#priors = (.3,.7)
y_pred = gnb.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d"
% (X_test.shape[0], (y_test != y_pred).sum()))
gnb.fit(X_train, y_train)
print(gnb)
# make predictions
expected = y_test
predicted = gnb.predict(X_test)
# summarize the fit of the model
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))
print(gnb.score(X_test, y_test))

Number of mislabeled points out of a total 173 points : 51
GaussianNB(priors=(0.5, 0.5))
              precision    recall  f1-score   support

           0       0.66      0.94      0.78        94
           1       0.85      0.43      0.57        79

    accuracy                           0.71       173
   macro avg       0.76      0.68      0.67       173
weighted avg       0.75      0.71      0.68       173

[[88  6]
 [45 34]]
0.7052023121387283

Adjusting priors on the Gaussian further

In [61]:
gnb = GaussianNB(priors = (.1,.9))
#priors = (.3,.7)
y_pred = gnb.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d"
% (X_test.shape[0], (y_test != y_pred).sum()))
gnb.fit(X_train, y_train)
print(gnb)
# make predictions
expected = y_test
predicted = gnb.predict(X_test)
# summarize the fit of the model
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))
print(gnb.score(X_test, y_test))

Number of mislabeled points out of a total 173 points : 48
GaussianNB(priors=(0.1, 0.9))
              precision    recall  f1-score   support

           0       0.69      0.90      0.78        94
           1       0.82      0.51      0.62        79

    accuracy                           0.72       173
   macro avg       0.75      0.71      0.70       173
weighted avg       0.75      0.72      0.71       173

[[85  9]
 [39 40]]
0.7225433526011561

Random Forest Classification

In [62]:
clf = RandomForestClassifier(n_estimators = 100,)
clf.fit(X_train, y_train)
print(clf)
y_pred2 = clf.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d"
% (X_test.shape[0], (y_test != y_pred2).sum()))
# make predictions
expected2 = y_test
predicted2 = clf.predict(X_test)
# summarize the fit of the model
print(metrics.classification_report(expected2, predicted2))
print(metrics.confusion_matrix(expected2, predicted2))
print(clf.score(X_test, y_test))

RandomForestClassifier()
Number of mislabeled points out of a total 173 points : 47
              precision    recall  f1-score   support

           0       0.73      0.80      0.76        94
           1       0.73      0.65      0.68        79

    accuracy                           0.73       173
   macro avg       0.73      0.72      0.72       173
weighted avg       0.73      0.73      0.73       173

[[75 19]
 [28 51]]
0.7283236994219653

Logisitc Regression

In [63]:
logregcv = LogisticRegressionCV(cv=10, random_state=0, max_iter=500)
logregcv.fit(X_train, y_train)
y_pred = logregcv.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d"
% (X_test.shape[0], (y_test != y_pred).sum()))
# make predictions
expected3 = y_test
predicted3 = logregcv.predict(X_test)
# summarize the fit of the model
print(metrics.classification_report(expected3, predicted3))
print(metrics.confusion_matrix(expected3, predicted3))
print(logregcv.score(X_test, y_test))

Number of mislabeled points out of a total 173 points : 43
              precision    recall  f1-score   support

           0       0.70      0.94      0.80        94
           1       0.88      0.53      0.66        79

    accuracy                           0.75       173
   macro avg       0.79      0.73      0.73       173
weighted avg       0.78      0.75      0.74       173

[[88  6]
 [37 42]]
0.7514450867052023